@media screen and (max-device-width: 500px) {
    .wrap{
        padding: 20px;
        .screen{
            width: 100%;
        }
        .header{
        
            .header_pagesContainer{
                font-size: 24px;
                width: 350px;
            }
            .header_languageAndThemeContainer{
                display: none;
            }
            .header_burger{
                display: flex;
                flex-direction: column;
            }
            .header_burger_item{
                width: 30px;
                height: 4px;
                background-color: #434242;
                border-radius: 20px;
                margin-top: 4px;
            }
            .header_activeLi{
                margin-top: 4px;
                width: 30px;
            }
            
        }
        .mainPage{
            .mainPage_text{
                width: 100%;
                text-align: start;
            }
            .mainPage_photo{
                width: 100%;
            }
            .decorationCircle2{
                width: 100px;
                height: 100px;
                left: -16px;
                top: 25px;
            }
            .decorationCircle1{
                left: 250px;
                top: 100px;
            }
            .decorationCircle3{
                left: 400px;
                width: 60px;
                height: 60px;
                top: 0px;
            }
            .decorationCircle5{
                left: 30px;
                top: 310px;
            }
            .decorationCircle4{
                top: 350px;
                left: 350px;
            }
        }
        .skillsPage{
            margin-top: 70px;
            text-align: center;
        }
        .skillsPage_skillsRow{
            flex-direction: column;
            align-items: center;
        }
        .skillsPage_skill{
            margin-bottom: 20px;
        }
        #JSON_skill{
            margin-right: -430px;
        }
        // #skillsPage_skillsRow2{
        //     margin-top: -32px;
        // }
        .skillsPage_skill_hoverContainer{
            margin-top: 32px;
        }
        #decorationCircle7{
            top: 400px;
        }
        #decorationCircle8{
            left: 10px;
            top: 850px;
        }
        #decorationCircle9{
            top: 670px;
            left: 300px;
        }
        #decorationCircle10{
            top: 1400px;
            left: 250px;
        }
        #decorationCircle11{
            left: 60px;
            top: 1200px;
        }

    }


}