*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: #434242;
    background-color: #6D9886;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background: #6D9886; 
}

::-webkit-scrollbar-track {
    background: #F0F0F0; 
}



.wrap{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;

    .decoration{
        position: absolute;
        border-radius: 50%;
        z-index: -1;
    }
    .screen {
        width: 100%;
        min-height: 100vh;
        font-family: Montserrat Alternates;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    
    .header{
        width: 100%;
        display: flex;
        color: #434242;
        font-family: Montserrat;
        justify-content: space-between;
        user-select: none;


        .header_pagesContainer{
            width: 500px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            font-weight: 700;
            font-size: 36px;
            align-items: center;
            
        }
        .header_pagesContainer a{
            text-decoration: none;
            color: #434242;
            cursor: pointer;

        }
        .header_pagesContainer li{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .header_pages_middleCircle{
            width: 6px;
            height: 6px;
            background-color: #434242;
            border-radius: 50%;
        }
        #header_languageSelection{
            width: 105px;
            font-size: 36px;
            font-weight: 700;
            color: #434242;
            border: none;
            cursor: pointer;
        }
        .header_themeChanger{
            width: 100px;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            background-color: #6D9886;
            border-radius: 50px;
            transition: 3s ease;
            cursor: pointer;
        }
        .header_themeChanger_Circle{
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50px;
            border: 3.5px solid #6D9886;
            transition: 3s ease;
        }
        .header_languageAndThemeContainer{
            width: 270px;
            display: flex;
            justify-content: space-between;
        }
        .header_activeLi{
            width: 45px;
            height: 3px;
            border-radius: 3px;
            background-color: #434242;
            margin-top: 8px;
        }
        .header_activeLi_none{
            background-color: #fff;
        }

    }

    .mainPage{
        color: #434242;
        min-height: 93vh;
    

        .mainPage_title{
            font-size: 64px;
            font-weight: 700;
            margin-top: 30px;
            text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25),  ;
            position: relative;
            z-index: 2;
        }
        .mainPage_text{
            font-size: 24px;
            font-weight: 400;
            width: 806px;
            text-align: center;
            margin-top: 20px;
            position: relative;
            z-index: 2;
        }
        .mainPage_photo{
            width: 575px;
            margin-top: 25px;
            user-select: none;
            position: relative;
            z-index: 2;
            transition: opacity 0.5s;
            cursor: pointer;
        }
        .decorationCircle1{
            width: 126px;
            height: 126px;
            background-color: #62AC8D;
            top: 60px;
            left: 160px;
        }
        .decorationCircle2{
            width: 158px;
            height: 158px;
            background-color: #7CD3AE;
            top: 0px;
            left: 800px;
        }
        .decorationCircle3{
            width: 170px;
            height: 170px;
            background-color: #638074;
            top: 200px;
            left: 1150px;
        }
        .decorationCircle4{
            width: 89px;
            height: 89px;
            background-color: #53C18C;
            top: 450px;
            left: 60px;
        }
        .decorationCircle5{
            width: 70px;
            height: 70px;
            background-color: #53C18C;
            top: 500px;
            left: 1000px;
        }
    }
    .skillsPage{
        .skillsPage_title{
            font-size: 36px;
            font-weight: 600;
            color: #6D9886;
        }
        .skillsPage_skill{
            width: 235px;
            height: 276px;
            border: 2px solid #6D9886;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #6D9886;
            text-align: center;
            padding: 15px;
            cursor: pointer;
            transition: 0.7s ease;
            
            
        }
        .skillsPage_skill:hover{
            filter: blur(5px);
        }
        .skillsPage_skillName{
            font-size: 32px;
            font-weight: 600;
            margin-top: 20px;
        }
        .skillsPage_skillDescription{
            font-size: 16px;
            font-weight: 500;
            margin-top: 25px;

        }
        .skillsPage_skillsRow{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        #HTMLandCSSpic{
            width: 142px;
            user-select: none;
        }
        #JavaScript{
            width: 77px;
            height: 80px;
            user-select: none;
        }
        #Figma{
            width: 60px;
            user-select: none;
        }
        #JSON{
            width: 80px;
            user-select: none;
        }
        #SCCS{
            font-size: 56px;
            font-weight: 900;
            letter-spacing: -8px;
            user-select: none;
        }
        #JSON_skill{
            margin-left: -430px;
        }
        .skillsPage_skill_question{
            font-size: 64px;
            font-weight: 700;
            color: #6D9886;
            text-shadow: 4px 4px #567D6C;
            position: absolute;
            opacity: 0;
            transition: 0.7s ease;
        }
        .skillsPage_skill_hoverContainer{
            width: 235px;
            height: 276px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.7s ease;
            margin-top: 32px;

        }
        .skillsPage_skill_hoverContainer:hover .skillsPage_skill_question{
            opacity: 1;
            transition: 0.7s ease;
        }
        .decorationCircle6{
            width: 126px;
            height: 126px;
            background-color: #62AC8D;
            top: 80px;
            left: 330px;
        }
        .decorationCircle7{
            width: 105px;
            height: 105px;
            background-color: #D3E7DE;
            top: 120px;
            right: 330px;
        }
        .decorationCircle8{
            width: 170px;
            height: 170px;
            background-color: #638074;
            top: 420px;
            left: 100px;
        }
        .decorationCircle9{
            width: 65px;
            height: 65px;
            background-color: #3BA26A;
            top: 380px;
            left: 800px;
        }
        .decorationCircle10{
            width: 158px;
            height: 158px;
            background-color: #7CD3AE;
            top: 550px;
            right: 80px;
        }
        .decorationCircle11{
            width: 97px;
            height: 97px;
            background-color: #53C18C;
            top: 660px;
            left: 570px;
        }
        .skillsPage_popupContainer{
            position: absolute;
            width: 100%;
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .skillsPage_popup{
            width: 972px;
            height: 510px;
            background-color: #6D9886;
            position: relative;
            z-index: 100;
        }
        
    }
    .softSkills{
        color: #434242;
        display: flex;
        flex-direction: row;
        .softSkills_title{
            font-size: 48px;
            font-weight: 800;
            text-transform: uppercase;
        }
        .softSkills_skiils{
            display: flex;
            flex-direction: column;
            margin-left: 95px;
        }
        .softSkills_skill{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .decorationCircle12{
            width: 126px;
            height: 126px;
            background-color: #62AC8D;
            left: 950px;
            top: 70px;
        }
        .decorationCircle13{
            width: 135px;
            height: 135px;
            background-color: #D3E7DE;
            left: 2px;
            top: 30px;
        }
        .decorationCircle14{
            width: 170px;
            height: 170px;
            background-color: #87B2A0;
            left: 600px;
            top: 280px;
        }
        .decorationCircle15{
            width: 85px;
            height: 85px;
            background-color: #53C18C;
            left: 1300px;
            top: 280px;
        }
        .decorationCircle16{
            width: 158px;
            height: 158px;
            background-color: #7CD3AE;
            left: 90px;
            top: 490px;
        }
        .decorationCircle17{
            width: 170px;
            height: 170px;
            background-color: #638074;
            left: 1200px;
            top: 550px;
        }
    }
    .contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 64px;
            font-weight: 600;
            color: #434242;
        }
        .contacts_socialMedia{
            position: absolute;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s ease;
        }
        #telegram{
            width: 280px;
            height: 280px;
            border: 2px solid #638074;
            color: #638074;
            font-size: 110px;
            top: 80px;
            left: 160px;
        }
        #telegram:hover{
            background-color: #638074;
            color: #fff;
        }
        #gitHub{
            width: 192px;
            height: 192px;
            border: 2px solid #62AC8D;
            color: #62AC8D;
            font-size: 80px;
            right: 290px;
            top: 120px;
        }
        #gitHub:hover{
            background-color: #62AC8D;
            color: #fff;
        }
        #instagram{
            width: 267px;
            height: 267px;
            border: 2px solid #7CD3AE;
            color: #7CD3AE;
            font-size: 90px;
            right: 230px;
            top: 420px;
        }
        #instagram:hover{
            background-color: #7CD3AE;
            color: #fff;
        }
        #phone{
            width: 169px;
            height: 169px;
            border: 2px solid #87B2A0;
            color: #87B2A0;
            font-size: 60px;
            left: 160px;
            top: 510px;
        }
        #phone:hover{
            background-color: #87B2A0;
            color: #fff;
        }
        #gmail{
            width: 212px;
            height: 212px;
            border: 2px solid #9CE5C6;
            color: #9CE5C6;
            font-size: 90px;
            right: 670px;
            top: 420px;
        }
        #gmail:hover{
            background-color: #9CE5C6;
            color: #fff;
        }
        .decorationCircle18{
            width: 126px;
            height: 126px;
            background-color: #D3E7DE;
            top: 70px;
            left: 500px;
        }
        .decorationCircle19{
            width: 170px;
            height: 170px;
            background-color: #638074;
            top: 300px;
            left: -30px;
        }
        .decorationCircle20{
            width: 85px;
            height: 85px;
            background-color: #53C18C;
            top: 410px;
            left: 360px;
        }
        .decorationCircle21{
            width: 158px;
            height: 158px;
            background-color: #7CD3AE;
            top: 100px;
            left: 1250px;
        }
        .decorationCircle22{
            width: 114px;
            height: 114px;
            background-color: #7CD3AE;
            top: 600px;
            left: 1300px;
        }
        .decorationCircle23{
            width: 119px;
            height: 119px;
            background-color: #62AC8D;
            top: 600px;
            left: 800px;
        }
    }



}

